---
spring:
  mustache:
    suffix: .html

azure:
  storage:
    accountName: example
    blob-endpoint: "https://${azure.storage.accountName}.blob.core.windows.net"
    accountKey: "exampleasdfasdfasdf"
