---
spring:
  mustache:
    suffix: .html

  # Remove the below if you're not using azureblob as the picDataService
  cloud:
    azure:
      storage:
        blob:
          account-name: mystorageaccount
          account-key: "xxx"
          endpoint: "https://${spring.cloud.azure.storage.blob.account-name}.blob.core.windows.net"

junk:
  picDataService: azureblob
  # Or, for local storage:
  #picDataService: local
  #picDir: pics
