:root {
  --palette-green: #39B474;
  --palette-purple: #5758BB;
  --palette-magenta: #BC4F81;
  --palette-grey: #8A8A8A;
  --palette-grey-light: #F2F2F2;

  --color-highlight: var(--palette-green);
  --color-highlight-alt: var(--palette-magenta);
  --color-border: var(--palette-grey-light);

  --color-text-light: var(--palette-grey);

  --color-background-header: var(--palette-purple);
  --color-background-nav: var(--palette-grey-light);
  --color-background-dim: var(--palette-grey-light);

  --width-sidebar: 24rem;
}

body {
  font-family: sans-serif;
}

a {
  color: var(--color-highlight);
}

.container {
  max-width: 900px;
  margin: auto;
}

.site-header {
  position: relative;
  z-index: 1024;
  padding: 1rem 2rem;
  background-color: var(--color-background-header);
  border-radius: 1rem;
  color: rgba(255,255,255, 0.6);
}
  .site-header span {
    color: white;
  }
  .site-header h1 {
    margin: 0;
  }
  .site-header a {
    color: inherit;
    text-decoration: none;
  }

.site-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.site-side {
  order: 999;
  width: var(--width-sidebar);
}

.site-menu {
  box-sizing: border-box;
  margin-top: -1rem;
  padding: 1rem 0.5rem;
  background-color: var(--color-background-nav);
  border-radius: 0 0 1rem 1rem;
  text-align: center
}
  .site-menu h2 {
    margin: 1rem 0;
    font-size: 1.25rem;
  }
  .site-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .site-menu li {
    display: inline;
  }
  .site-menu a {
    display: inline-block;
    margin: 0.25em;
    padding: 0.5em;
    background: var(--color-highlight-alt);
    border-radius: 0.25em;
    color: white;
    text-decoration: none;
  }
    .site-menu a:hover {
      background-color: var(--color-highlight);
    }

.site-content {
  width: 100%;
}

.pics {
  margin: 0;
  padding: 1rem;
  list-style: none;
}

.pic {
  padding: 0.35em 1em;
  color: var(--color-text-light);
  border-bottom: 1px solid var(--color-border);
}
  .pic a {
    text-decoration: none;
  }
  .pic:hover {
    background-color: var(--color-background-dim);
  }
    .pic a:hover {
      text-decoration: underline;
    }
  .pic .pic-prefix {
    color: var(--color-text-light);
  }

@media screen and (max-width: 900px) {
  .container {
    max-width: 100%;
  }

  .site-header span:first-child {
    display: block;
  }

  .site-main {
    flex-direction: column;
  }

  .site-side {
    order: 0;
    width: auto;
  }

  .site-menu a {
    padding: 0.75em 1.5em;
  }

  .site-content {
    order: 10;
  }

  .pics {
    padding: 0;
  }

  .pic {
    padding: 0.75em;
  }
}
